* {
    box-sizing: border-box;
}

html {
	height: 100%;
}

body {
    position: relative;
    padding-bottom: 80px;
    line-height: 1.6;
    background-color: white;
    min-height: 100%;
    color: black;
    margin: 0; 
}

.menu {
    position: absolute;
    width: 280px; height: 100%;
    background-color: rgb(195, 225, 240);
    border-right: 2px solid #e0e0e0;
    font-weight: 300;
}
.menu > h1 { 
    font-size: 40px;
    margin-top: 35px;
    margin-bottom: 50px;
    text-decoration: underline overline;
    text-underline-offset: 14px;
    text-align: center; 
}
.menu > h1 > a {
    color: black;
    text-decoration: none;
}

.nav-list { 
    padding: 0;
    text-align: center;
}

.nav-item {
    margin-bottom: 35px;
    display: block;
}
.nav-link {
    font-size: 23px;
    color: rgb(129, 129, 129);
    text-decoration: none;
}
.nav-link:hover {
    color: black;
}
.active {
	font-weight: 600;
    color: black;
}

.container {   
    width: 100%; 
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
}

.section {
    padding-top: 30px;
}

.box {
    margin-top: 80px;
    border-radius: 15px;
    background: #e2e7e7;
    display: flex;
    flex-wrap: wrap;
}

.left {   
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}

.right {   
    flex: 0 0 66.5%;
    max-width: 66.5%;
    padding: 0 25px;
}
.right > h5 { font-weight: 500; }

.menu_select {
    margin-top: 30px;
}
.menu_select > h1 { 
    font-size: 40px;
    margin-bottom: 70px;
}

td {
    padding-left: 7px;
}

.footer {
    position: absolute;
    bottom: 0px;
    height: 58px;
    width: 100%;
    font-size: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: rgb(50, 50, 50);
    background-color:#fcfcfc;
    border-top: 1px solid #e0e0e0;
    text-align: center;

}   
.footer > p {
    margin-top: 0;
    margin-bottom: 1rem;
}

@media (max-width: 260px) {
    .menu {
        width: 100%; height: 94px;
        border-bottom: 1px solid #e0e0e0;
    }
    .menu > h1 { 
        display: none;
    }
    .nav {
        margin-top: 0;
        padding-left: 15px;  
    }
    .nav-list { 
        margin-top: 6px;
    }
    .nav-item {
        margin-right: 18px;
        margin-bottom: 2px;
    }
    .nav-link {
        font-size: 15px;
    }

    .menu_select {
        font-size: 15px;
        margin-top: 10px;
    }
    .menu_select > h1 { 
        font-size: 30px;
        margin-bottom: 35px;
    }
    
    .section {
        padding-top: 45px;
    }
    .box {
        margin-top: 60px;
    }
}
@media (min-width: 261px) and (max-width: 340px) {
    .menu {
        width: 100%; height: 94px;
        border-bottom: 1px solid #e0e0e0;
    }
    .menu > h1 { 
        font-size: 20px;
        text-underline-offset: 7px;
        margin: 31px 18px 31px 34px;
        float: left;
    }
    .nav {
        margin-top: 0;
        padding-left: 15px;  
    }
    .nav-list { 
        margin-top: 6px;
    }
    .nav-item {
        margin-right: 18px;
        margin-bottom: 2px;
    }
    .nav-link {
        font-size: 15px;
    }

    .menu_select {
        font-size: 15px;
        margin-top: 10px;
    }
    .menu_select > h1 { 
        font-size: 30px;
        margin-bottom: 35px;
    }
    
    .section {
        padding-top: 45px;
    }
    .box {
        margin-top: 60px;
    }
}
@media (min-width: 341px) and (max-width: 387px) {
    .menu {
        width: 100%; height: 70px;
        border-bottom: 1px solid #e0e0e0;
    }
    .menu > h1 { 
        font-size: 18px;
        text-underline-offset: 6px;
        margin: 20px 20px 20px 20px;
        float: left;
    }
    .nav {
        margin: 6px 0px;
        float: left;
    }
    .nav-item {
        margin-right: 13px;
        margin-bottom: 0;
    }
    .nav-link {
        font-size: 15px;
    }
    .menu > h1, .nav-item { display: inline-block; }

    .menu_select {
        font-size: 15px;
        margin-top: 10px;
    }
    .menu_select > h1 { 
        font-size: 30px;
        margin-bottom: 35px;
    }

    .section {
        padding-top: 35px;
    }
    .box {
        margin-top: 50px;
    }
}
@media (min-width: 388px) and (max-width: 780px) {
    .section {
        padding-top: 40px;
    }
    .menu {
        width: 100%; height: 80px;
        border-bottom: 1px solid #e0e0e0;
    }
    .menu > h1 { 
        font-size: 20px;
        text-underline-offset: 7px;
        margin: 24px 30px;
        float: left;
    }
    .nav {
        margin: 11.5px 0px;
        float: left;
    }
    .nav-item {
        margin-right: 22px;
        margin-bottom: 0;
    }
    .nav-link {
        font-size: 15px;
    }
    .menu > h1, .nav-item { display: inline-block; }

    .menu_select {
        font-size: 15px;
        margin-top: 15px;
    }
    .menu_select > h1 { 
        font-size: 30px;
        margin-bottom: 40px;
    }
    .section {
        padding-top: 40px;
    }
    .box {
        margin-top: 60px;
    }
}
@media (min-width: 781px) and (max-width: 1600px) {
    .menu {
        width: 100%; height: 100px;
        border-bottom: 1px solid #e0e0e0;
    }
    .menu > h1 { 
        font-size: 28px;
        text-underline-offset: 10px;
        margin: 28px 50px;
        float: left;
    }
    .nav {
        margin: 18px 10px;
        float: left;
    }
    .nav-item {
        margin-right: 29px;
        margin-bottom: 0;
    }
    .nav-link {
        font-size: 20px;
    }
    .menu > h1, .nav-item { display: inline-block; }
    
    .menu_select > h1 { 
        font-size: 30px;
        margin-bottom: 55px;
    }

    .section {
        padding-top: 50px;
    }
}

@media (max-width: 750px) {
    .left {   
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    .right {   
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px;
    }
}
